<div class="card-container">
    <p-card *ngIf="user" header="{{ user | fullName }}" subheader="{{ user.login }}" [style]="{ width: '100%' }">
        <ng-template pTemplate="content" [style]="{ width: '360px' }">
            <div class="p-field">
                <label for="firstName">Nome: </label>
                <span id="firstName">{{ user.firstName }}</span>
            </div>
            <div class="p-field">
                <label for="lastName">Sobrenome: </label>
                <span id="lastName">{{ user.lastName }}</span>
            </div>
            <div class="p-field">
                <label for="birthday">Data de Nascimento: </label>
                <span id="birthday">{{ user.birthday! | date: 'dd/MM/yyyy' }}</span>
            </div>
            <div class="p-field">
                <label for="email">Email: </label>
                <span id="email">{{ user.email }}</span>
            </div>
            <div class="p-field">
                <label for="login">Login: </label>
                <span id="login">{{ user.login }}</span>
            </div>
            <div class="p-field">
                <label for="phone">Telefone: </label>
                <span id="phone">{{ user.phone! | phoneNumber }}</span>
            </div>
            <div class="p-field">
                <label for="created">Criado em: </label>
                <span id="created">{{ user.created! | date: 'dd/MM/yyyy' }}</span>
            </div>
            <div style="margin-top: 25px;">
                <app-car-list></app-car-list>
            </div>
        </ng-template>
    </p-card>
</div>