<div>
    <p-card styleClass="user-form" class="flex justify-content-center">
      <h2>Novo usuário</h2>
      <form [formGroup]="userForm" (ngSubmit)="createUser()" novalidate>
        <div class="field">
          <input type="text" pInputText placeholder="Nome" formControlName="firstName" (keyup)="logIt($event)" />
          <small class="p-error block" *ngIf="
              userForm.get('firstName')?.touched && userForm.get('firstName')?.errors?.required
            ">
            Nome é obrigatório</small>
          <small class="p-error block" *ngIf="
              !userForm.get('firstName')?.pristine && userForm.get('firstName')?.errors?.maxlength
            ">
            O nome deve ter até 255 caracteres</small>
        </div>
        <div class="field">
          <input type="text" pInputText placeholder="Sobrenome" formControlName="lastName" />
          <small class="p-error block" *ngIf="
            userForm.get('lastName')?.touched && userForm.get('lastName')?.errors?.required
            ">
            Sobrenome é obrigatório</small>
          <small class="p-error block" *ngIf="
            !userForm.get('lastName')?.pristine && userForm.get('lastName')?.errors?.maxlength
            ">
          O nome deve ter até 255 caracteres</small>
        </div>
        <div class="field">
          <p-calendar [(ngModel)]="birthday" formControlName="birthday" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icondisplay" [maxDate]="maxDate" placeholder="Data de nascimento" />
          <small class="p-error block" *ngIf="
              userForm.get('birthday')?.invalid && userForm.get('birthday')?.dirty
            ">
            Data de nascimento é obrigatória</small>
        </div>
        <div class="field">
          <input type="email" pInputText placeholder="Email" formControlName="email" />
          <small class="p-error block" *ngIf="
              userForm.get('email')?.invalid && userForm.get('email')?.dirty
            ">
            Email é obrigatório</small>
        </div>
        <div class="field">
          <input type="text" pInputText placeholder="Login" formControlName="login" />
          <small class="p-error block" *ngIf="
              userForm.get('login')?.invalid && userForm.get('login')?.dirty
            ">
            Login é obrigatório</small>
        </div>
        <div class="field">
          <input type="text" pInputText placeholder="DDD + 9 ou 8 dígitos" formControlName="phone" />
          <small class="p-error block" *ngIf="
              userForm.get('phone')?.invalid && userForm.get('phone')?.dirty
            ">
            Telefone é obrigatório</small>
        </div>
        <div class="field">
          <input type="password" pInputText placeholder="Digite de 6 à 10 dígitos (letras e números)" formControlName="password" />
          <small class="p-error block" *ngIf="
              userForm.get('password')?.invalid && userForm.get('password')?.dirty
            ">
            Senha é obrigatória</small>
        </div>
        <p-messages />
        <div class="form-submit flex">
          <button pButton type="submit" label="Salvar" [disabled]="userForm.invalid"></button>
          <button pButton type="reset" severity="danger" (click)="back()" label="Cancelar"></button>
        </div>
      </form>
    </p-card>
  </div>