:host ::ng-deep .user-form {
    width: 60%;
    margin: 0 20% 0 20%;
    justify-self: center;
}

:host ::ng-deep .p-inputtext {
    width: 100%;
}

.field {
    margin-top: 15px;
}

.form-submit button {
    margin-top: 10px;
    margin-right: 10px;
}