:host ::ng-deep .car-form {
    width: 60%;
    margin: 0 20% 0 20%;
    justify-self: center;
}

:host ::ng-deep .p-inputtext {
    width: 100%;
}

.field {
    margin-top: 15px;
}

.car-submit button {
    margin-top: 10px;
    margin-right: 10px;
}

:hover.pi-trash {
    color: red;
}