<p-splitter 
  [panelSizes]="[50,50]" 
  styleClass="mb-5">
  <ng-template pTemplate>
    <div>
      <h1>Lista de Usuários</h1>
      <p-table [value]="users" class="p-datatable-striped" selectionMode="single"
        (onRowSelect)="onSelectUser($event.data)">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
            <th>Telefone</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr [pSelectableRow]="user">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.birthday }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone | phoneNumber }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      <app-user-detail [user]="selectedUser"></app-user-detail>
    </div>
  </ng-template>
</p-splitter>